.count--down
{
    font-size: 80px;
   
}
.stop--countDown
{
   height: 50px;
   width: 100px;
}

.container--count
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}